<div class="row content-row text-container">
	<div class="content-row">
		<div><b>What is Grace's Wings?</b></div>
		<div>Grace’s Wings is a Supernatural/Urban Fantasy webcomic about a for-hire exorcist and the demonic voice in her head. While on what looks like a run-of-the-mill haunting case, she uncovers a prophecy that details the return of a powerful and malevolent entity that was thought destroyed decades ago. However, she isn’t the only one who knows of the prophecy. Shadowy figures work in the darkness, each with different plans for the prophecy (and Nadia) in mind.</div>
	</div>
	<div class="content-row">
		<div><b>When do you update?</b></div>
		<div>Every week on Mondays and Wednesdays, except for holidays and catastrophes. We also take a week off between chapters.</div>
	</div>
	<div class="content-row">
		<div><b>How can I contact you?</b></div>
		<div>If you would like to contact us, please email us at <a href="mailto:graceswingscomic@gmail.com">graceswingscomic@gmail.com</a>. If you want to email one of us specifically, just put "Faith" or "Dan" in the subject. You can find our Twitters, Tumblrs, etc at the links below, and you can find our official facebook and twitter on the sidebar to the left.</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div>Faith Schindler</div>
			<img class="character-portrait" src="/img/icons/contact/faithProfile.png"/>
			<div class="content-row">Story/Art</div>
			<div>Faith is an artist and full time mom to a brood of whiny cats. She spends a lot of her time drawing this comic, crying about movies, and attempting to wrangle her cats. Many moons ago she started on this magical journey full of friendship and comics and now we’re finally here with the final product. Faith studied Art and Art History, apparently going all in on the "starving artist" thing.</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div>Dan Michalak</div>
			<img class="character-portrait" src="/img/icons/contact/danProfile.png"/>
			<div class="content-row">Story/Site</div>
			<div>Dan somehow ended up as Grace's Wings lead writer through interest in his friend Faith's project and unhealthy control freak tendancies. His job mostly involves organizing his and Faith's insane ramblings into a semi-coherent script. He also built this piece of shit website, which should be a lot better considering his degree in Information Technology.</div>
		</div>
	</div>
</div>