<div class="row extras-container">
	<div class="col-sm-1 col-xs-12 extras-sidebar">
		<a ui-sref="extras.fanart" ui-sref-opts="{reload: true}"><div class="col-sm-12 col-xs-4 sidebar-btn top-btn">Fanart<br/>Gallery</div></a>
		<a ui-sref="extras.holiday" ui-sref-opts="{reload: true}"><div class="col-sm-12 col-xs-4 sidebar-btn">Holiday<br/>Gallery</div></a>
		<a ui-sref="extras.shipping" ui-sref-opts="{reload: true}"><div class="col-sm-12 col-xs-4 sidebar-btn">Shipping<br/>Generator</div></a>
	</div>
	<div class="col-sm-11 col-xs-12 extras-content" ui-view="extras"></div>
</div>