<div class="container">
	<div class="row">

		<!-- md to lg to xl -->
		<div class="row hidden-xs hidden-sm">
			<div class="col-md-6 col-lg-6 col-xl-6">
				<strong>Follow Us:</strong>
				&nbsp;&nbsp;
				<a href="https://www.facebook.com/graceswingscomic"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				&nbsp;&nbsp;
				<a href="https://twitter.com/gwcomic"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				&nbsp;&nbsp;
				<a href="./rss/gw.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
				<br/>
				<strong>Affiliates:</strong>&nbsp;
				<strong><a href="http://www.some-stories.com/">Some&nbsp;Stories</a></strong>&nbsp;
				<strong><a href="http://www.monomythofages.com/">Monomyth&nbsp;of&nbsp;Ages</a></strong>&nbsp;
				<strong><a href="https://www.facebook.com/Comic.Collision">Comic&nbsp;Collision</a></strong>
			</div>
			<div class="col-md-6 col-lg-6 col-xl-6 twc-col">
				<a href="http://topwebcomics.com/vote/18992/default.aspx" title="Vote for Grace's Wings on TopWebComics!">
					<img src="http://topwebcomics.com/rankimages/rankimage.aspx?ImageTemplate=dynamiclink2&amp;SiteID=18992">
				</a>
			</div>
		</div>

		<!-- xs to sm -->
		<div class="row hidden-md hidden-lg hidden-xl">
			<div class="col-xs-6 col-sm-6">
				<strong>Follow Us:</strong>
				<br/>
				<a href="https://www.facebook.com/graceswingscomic"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				&nbsp;&nbsp;
				<a href="https://twitter.com/gwcomic"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				&nbsp;&nbsp;
				<a href="./rss/gw.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
			</div>
			<div class="col-xs-6 col-sm-6 twc-col">
				<a href="http://topwebcomics.com/vote/18992/default.aspx" title="Vote for Grace's Wings on TopWebComics!">
					<img src="http://topwebcomics.com/rankimages/rankimage.aspx?ImageTemplate=dynamiclink2&amp;SiteID=18992">
				</a>
			</div>
			<div class="col-xs-12 col-sm-12">
				<br/>
				<strong>Affiliates:</strong>&nbsp;
				<strong><a href="http://www.some-stories.com/">Some&nbsp;Stories</a></strong>&nbsp;
				<strong><a href="http://www.monomythofages.com/">Monomyth&nbsp;of&nbsp;Ages</a></strong>&nbsp;
				<strong><a href="https://www.facebook.com/Comic.Collision">Comic&nbsp;Collision</a></strong>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-xs-12 copy-col">&copy; Faith Schindler and Dan Michalak</div>
		</div>
	</div>
</div>