<div class="nav-button col-sm-1 hidden-xs"></div>
<a ui-sref="comicpage({ comic: comic, page: 1 })"><div class="nav-button col-xs-3 col-sm-2">First</div></a>
<a ui-sref="comicpage({ comic: comic, page: prevPage })"><div class="nav-button col-xs-3 col-sm-2">Prev</div></a>
<a ui-sref="comicarchive({ comic: comic })"><div class="nav-button hidden-xs col-sm-2">Archive</div></a>
<a ui-sref="comicpage({ comic: comic, page: nextPage })"><div class="nav-button col-xs-3 col-sm-2">Next</div></a>
<a ui-sref="comicpage({ comic: comic, page: lastPage })"><div class="nav-button col-xs-3 col-sm-2">Last</div></a>
<div class="nav-button col-sm-1 hidden-xs"></div>

<div class="nav-button col-xs-3 hidden-sm hidden-md hidden-lg hidden-xl"></div>
<a ui-sref="comicarchive({ comic: comic })"><div class="nav-button col-xs-6 hidden-sm hidden-md hidden-lg hidden-xl">Archive</div></a>
<div class="nav-button col-xs-3 hidden-sm hidden-md hidden-lg hidden-xl"></div>