<div class="row">
	<div class="hidden-xs col-sm-2 nav-button"></div>
	<div class="col-xs-12 col-sm-8 nav-button">
		<div class="row">
			<a ui-sref="home" ui-sref-opts="{reload: true}"><div class="col-xs-4 col-sm-2 nav-button">Home</div></a>
			<a ui-sref="comicarchive({ comic: 'gw' })"><div class="col-xs-4 col-sm-2 nav-button">Archive</div></a>
			<a ui-sref="cast({ comic: 'gw' })"><div class="col-xs-4 col-sm-2 nav-button">Cast</div></a>
			<a ui-sref="about"><div class="col-xs-4 col-sm-2 nav-button">About</div></a>
			<a ui-sref="extras.fanart"><div class="col-xs-4 col-sm-2 nav-button">Extras</div></a>
			<a href="https://shop.some-stories.com/collections/graces-wings"><div class="col-xs-4 col-sm-2 nav-button">Store</div></a>
		</div>
	</div>
	<div class="hidden-xs col-sm-2 nav-button"></div>
</div>